<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154233367383-omdb4n6ga93ubgnauoetkb0a8juer90f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154233367383-omdb4n6ga93ubgnauoetkb0a8juer90f</string>
	<key>API_KEY</key>
	<string>AIzaSyDQon6kgGsCqL6g-KWWi97N_csWpA7yxGM</string>
	<key>GCM_SENDER_ID</key>
	<string>154233367383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teaksungmi0628</string>
	<key>PROJECT_ID</key>
	<string>teacksungmi-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>teacksungmi-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154233367383:ios:f9ba8f2c9463de569a6c12</string>
</dict>
</plist>